<h1>Users#index</h1>

<ul>
	<% @users.each do |user| %>
	<li>
		<% if user != current_user %>
		<%= link_to user.name, user %> 
			<% if not_friends? %>
				<%= link_to "Add Friend", friendships_path(friend_id: current_user.id), method: :post %>
			<% else %>
				<%= link_to "Remove friend", friendship_path(id: user.id), method: :delete %>
			<% end %>
		<% end %>
	</li>
	<% end %>
</ul>
