<h1>Users#index</h1>

<ul>
	<% @users.each do |user| %>
	<% if user != current_user %>
	<li>
		<%= profile_pic_for(user) %>
		<%= link_to user.name, user %> 
		<%= render "shared/add_friend", user: user %>
	</li>
	<% end %>
	<% end %>
</ul>
