<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <%= render "layouts/rails_defaults" %>
  </head>

  <body>
  <%= render "layouts/header" %>
  <%= render "layouts/flash" %>
    <%= yield %>
  </body>
</html>
